.payment-container {
    padding: 120px 2rem 2rem;
    max-width: 600px;
    margin: auto;
    color: white;
    background: #121212;
    border-radius: 14px;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .payment-form input {
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
  }
  
  .row {
    display: flex;
    gap: 1rem;
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .confirm-btn {
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 999px;
    border: none;
    background-color: #66d3ae;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  